@media only screen and (min-width: 768px) {
  .detailsBanner .content {
    gap: 50px;
    flex-direction: row;
  }

  .detailsBanner .info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
  }
  .detailsBanner .info .infoItem {
    margin-right: 10px;
  }
  .detailsBanner .info .text {
    margin-right: 10px;
    line-height: 24px;
  }
}
.detailsBanner {
  width: 100%;
  background-color: #282828;
  padding-top: 100px;
  margin-bottom: 50px;
  display: flex; /* Add flex display */
  flex-direction: column; /* Set the flex direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}
.detailsBanner .backdrop-img .lazy-load-image-background {
  width: 100%;
  height: 100%;
}
.detailsBanner .backdrop-img .lazy-load-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.detailsBanner .content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
}
.detailsBanner .right .overview {
  margin-bottom: 25px;
  color: white;
}
.detailsBanner .right .overview .heading {
  font-size: 24px;
  /* margin-bottom: 10px; */
  color: white;
}
.detailsBanner .right .overview .description {
  line-height: 24px;
  color: white;
}
.detailsBanner .right .circleRating {
  max-width: 70px;
  background-color: #041226;
}
.detailsBanner .right .circleRating .CircularProgressbar-text {
  fill: white;
}
.detailsBanner .right .playbtn {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.detailsBanner .right .playbtn svg {
  width: 60px;
}
.detailsBanner .right .playbtn .text {
  font-size: 20px;
  transition: all 0.7s ease-in-out;
}
.detailsBanner .right .playbtn .triangle {
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: white;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.detailsBanner .right .playbtn .circle {
  stroke: white;
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  transition: all 0.5s ease-in-out;
}
.detailsBanner .right .playbtn:hover .text {
  color: #da2f68;
}
.detailsBanner .right .playbtn:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #da2f68;
  animation: trailorPlay 0.7s ease-in-out;
}
.detailsBanner .right .playbtn:hover .circle {
  stroke-dashoffset: 0;
  stroke: #da2f68;
}
.detailsBanner .right .row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}
.detailsBanner .right .info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  display: flex;
}
.detailsBanner .right .info .infoItem {
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
  color: white;
}
.detailsBanner .right .info .text {
  margin-right: 10px;
  opacity: 0.5;
  line-height: 24px;
}
.detailsBanner .right .info .text.bold {
  font-weight: 600;
  opacity: 1;
}
